@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
